<footer class="footer">
  <small>
    El lugar para  <a href="http://www.youtube.com"> ver videos</a>
    by <a href="http://www.google.com">RichVazz</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.facebook.com/">News</a></li>
    </ul>
  </nav>
</footer>